        pandas
        flask
        fastapi
        uvicorn
        opencv-python
        pyzbar
        pyttsx3
        SpeechRecognition
        vosk
        gTTS
        ultralytics
        numpy
